body {
    margin: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin: 5px;
}

.orange {
    color: orange;

}

.para {
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

.text {
    width: 50%;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
}

.text img {
    width: 80%;
    margin-left: 80px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, white);
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}

.border {
    background-image: url(images/top-banner.png);

    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.exp-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-edit {
    box-shadow: 10px 10px 40px orange;
    width: 50%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}

#red {

    border-left: 7px solid red;
}

#blue {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
    color: red;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}