body {
    margin: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin: 0px;
}

.orange {
    color: orange;

}

.para {
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.text {
    width: 50%;
    padding: 10px;
    margin-top: 60px;
    margin-left: 10px;
}

.text img {
    width: 80%;
    margin-left: 70px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, white);
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}

.border {
    background-image: url(images/top-banner.png);

    background-repeat: no-repeat;

}